/bootstrap/compiled.php
/vendor
/.idea
/public/bootstrap
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
bibliobabel.sublime-workspace
bibliobabel.sublime-project
public/assets/.sass-cache/

app/tests/coverage
tests/_output/*
_ide_helper.php
.phpcomplete_extended
