/bootstrap/compiled.php
/vendor
/.idea
/public/img
/public/bootstrap
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
bibliobabel.sublime-workspace
bibliobabel.sublime-project

public/compass/.sass-cache
public/assets/compass/.sass-cache
public/assets/compass/bower_components