/*//debug
div{
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid orange;
//  background-color: blue;
}*/

$topbar-top-margin-diff:6px; //this is the difference between components actual size and topbar heigh
$topbar-logo-width:120px;

//this is the marigin or padding between some elements in post
//like the padding between profile picture and username
$post-base-padding:5;

$post-profile-pic-size:50;
$comment-profile-pic-size:40;


.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }